<thead>
    <tr style="font-weight: bolder;">
        <td style="width:50px;">ID</td>
        <td style="width:250px;">Name</td>
        <td style="width:250px;">Category</td>
        <td style="width:100px;">Price</td>
      </tr>
</thead>
<tbody>
      <div >
        <tr class="products" style="height: 30px;" *ngFor="let product of products">
            <td style="width:50px;">{{product.productId}}</td>
            <td style="width:250px;">{{product.name}}</td>
            <td style="width:250px;">{{product.category.name}}</td>
            <td style="width:100px;">{{product.price + " lei"}}</td>
        </tr>
        <tr>
          <td colspan="3"></td>
          <td>
            <button mat-raised-button class="add-button">ADD NEW PRODUCT</button>
          </td>
        </tr>
      </div>      
</tbody>



