* {
    font-family: "Dosis", sans-serif;
}

thead {
    background-color: RGB(246, 247, 251);
    color: RGB(250, 128, 114);
    justify-content: left;
    display: flex;
}
.products {
    font-size: 14px;
    justify-content: left;
    display: flex;
}
tr {
    display: flex;
    justify-content: left;
}
td {
    width: 200px;
}
.add-button{
    background-color: transparent;
    color: RGB(62, 180, 137);
    font-weight: bold;
}