<thead>
        <tr style="font-weight: bolder;">
            <td style="width:50px;">ID</td>
            <td style="width:150px;">First name</td>
            <td style="width:150px;">Last name</td>
            <td style="width:150px;">Address</td>
            <td style="width:120px;">City</td>
            <td style="width:120px;">Country</td>
            <td style="width:200px;">Email</td>
            <td> </td>
          </tr>
</thead>
<tbody>
        <td>
          <div *ngFor="let client of clients">
            <tr class="clients">
                <td style="width:50px;">{{client.clientId}}</td>
                <td style="width:150px;">{{client.firstName}}</td>
                <td style="width:150px;">{{client.lastName}}</td>
                <td style="width:150px;">{{client.address}}</td>
                <td style="width:120px;">{{client.city}}</td>
                <td style="width:120px;">{{client.country}}</td>
                <td style="width:200px;">{{client.email}}</td>
                <td>
                    <button mat-raised-button class="update-button"(click)="updateClientDetails(client)">UPDATE</button>
                </td>
            </tr>
            <br>
          </div>
        </td>
</tbody>

