* {
    font-family: "Dosis", sans-serif;
}

thead {
    height:30px;
    background-color: RGB(246, 247, 251);
    color: RGB(250, 128, 114);
    display: flex;
    justify-content: left;
    align-items: center;
    
}
.clients {
    font-size: 16px;
    display: flex;
    justify-content: left;
    align-items: center;
    
}
tr {
    display: flex;
    justify-content: left;
}
.update-button{
    background-color: transparent;
    color:RGB(62, 180, 137);
    font-weight: bold;
}