<body>
  <div class="shopping-cart">Shopping cart</div>
  <div class="form"[hidden]="submitted">
    <form class="form-list" (ngSubmit)="onSubmitProduct()">
        <div class="form-group">
          <label for="productName">Product</label>
          <select class="form-control" name="productName" id="productName" [(ngModel)]="orderLineDTO.product.name" [(ngModel)]="orderLineDTO.product.price" (change)="getAllProducts()">
            <option [ngValue]="null">---</option>
            <option *ngFor="let product of products"
                    [ngValue]="orderLineDTO.product.name" [ngValue]="orderLineDTO.product.price">{{product.name}}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="quantity">Quantity</label>
          <input type="number" min=1 max=10 class="form-control" id="quantity" required [(ngModel)]="orderLineDTO.quantity"
                 name="quantity" (change)="onChangeUpdatePrice(orderLineDTO.product.price, orderLineDTO.quantity)">
        </div>
        <div class="form-group">
          <label for="totalPrice">Price</label>
          <div class="form-control" id="totalPrice" required [(ngModel)]="orderLineDTO.totalPrice" name="totalPrice"> {{orderLineDTO.totalPrice}} lei </div>
        </div>
      <div class="form-group col-md-1">
        <button class="submit" (click)="onSubmitProduct()">Add to cart</button>
      </div>
      <div class="form-group col-md-1">
        <button type="button" class="push-to-remove">Remove product</button>
      </div>
    </form>
  
  
  <!--  <form (ngSubmit)="onSubmit()">-->
  <!--    <div class="form-group">-->
  <!--      <label for="deliveryDate">Delivery date</label>-->
  <!--      <input type="date" class="form-control" id="deliveryDate" required [(ngModel)]="orderDTO.deliveryDate"-->
  <!--             name="deliveryDate">-->
  <!--    </div>-->
  <!--    <button type="submit" class="btn btn-success">ORDER NOW</button>-->
  <!--  </form>-->
  </div>
  
  
</body>
