<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="order.component.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
  <link href="https://fonts.googleapis.com/css2?family=Inspiration&amp;display=swap" rel="stylesheet">
  <title>Order</title>
</head>
<div>Shopping cart</div>
<div [hidden]="submitted" style="width: 500px;">
  <form (ngSubmit)="onSubmitProduct()">
      <div class="form-group">
        <label for="productName">Product</label>
        <input type="text" class="form-control" id="productName" required [(ngModel)]="orderLineDTO.product.name" name="productName">
      </div>
      <div class="form-group">
        <label for="quantity">Quantity</label>
        <input type="number" class="form-control" id="quantity" required [(ngModel)]="orderLineDTO.quantity"
               name="quantity">
      </div>
<!--      <div>{{calculatePrice(orderLineDTO) + " lei"}}</div>-->
    <button type="submit" class="btn btn-success">Add to cart</button>
  </form>
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="deliveryDate">Delivery date</label>
      <input type="date" class="form-control" id="deliveryDate" required [(ngModel)]="orderDTO.deliveryDate"
             name="deliveryDate">
    </div>
    <button type="submit" class="btn btn-success">ORDER NOW</button>
  </form>
</div>

