.header {
  display:flex;
  /*justify-content:center;*/
  align-items: center;
  height: 60px;
  width: 500px;
  background-color: white;
}

.registration-form {
  display:flex;
  /*justify-content:center;*/
  align-items: center;
  height: 340px;
  width: 500px;
  background-color:antiquewhite;
}

