*{
  font-family: "Dosis", sans-serif;
}
.header {
  display:flex;
  justify-content:center;
  align-items: center;
  height: 30px;
  width: 320px;
  background-color: RGB(246, 247, 251);
  padding-top: 12px;
  font-weight: bolder;
  color: RGB(250, 128, 114);
  font-size: 22px;
}
.header-registration {
  background-color:RGB(246, 247, 251);
  width: 320px;
  height: 30px;
  display:flex;
  justify-content:center;
  align-items: center;
}
.ask-client {
  /*display:flex;*/
  /*justify-content:center;*/
  /*align-items: center;*/
  width: 310px;
  background-color:RGB(237, 201, 175);
  padding-top: 16px;
  padding-left: 10px;
}
tr {
  height: 36px;
  padding-bottom: 20px;
  display:flex;
  justify-content:space-around;
  align-items: center;
  width: 320px;
}
td {
  width: 160px;
}
.account {
  width: 320px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: RGB(237, 201, 175);
}

