<div class="header">LOGIN</div>
<div class = "header-registration">Please login into your account.</div>
<div class="form-to-login" style="width: 400px;">
  <div class="ask-client">
    <div class="form-login" [hidden]="submitted" style="width: 500px;">
      <form (ngSubmit)="onSubmit()">
        <tr class="form-group">
          <td>
            <label for="email">E-mail</label>
          </td>
          <td>
            <input type="text" class="form-control" id="email" required [(ngModel)]="clientDTO.email" name="email" placeholder="email@email.com">
          </td>
        </tr>
        <tr class="form-group">
          <td>
            <label for="password">Password</label>
          </td>
          <td>
            <input type="password" class="form-control" id="password" required [(ngModel)]="clientDTO.password" name="password" placeholder="password">
          </td>
        </tr>
        <tr>
          <button mat-raised-button style="font-weight: bold; font-size:16px; color:RGB(62, 180, 137)" type="submit" class="btn btn-success">LOGIN</button>
        </tr>
      </form>
    </div>
  </div>
  <div class="account">Don't have an account? Please register
    <a href="/client"> here</a>
  </div>
</div>

<!--<tr>-->
<!--  <td class="header">-->
<!--    <div class="login-title" style="font-weight: bolder; font-size:20px; color:RGB(250, 128, 114)">LOGIN</div>-->
<!--    <br>-->
<!--    <div class="login-text">Please login into your account</div>-->
<!--    <br>-->
<!--  </td>-->
<!--</tr>-->
<!--<tr>-->
<!--  <td class="registration-form">-->
<!--    <form id="accesspanel" action="login" method="post">-->
<!--      <div class="inset">-->
<!--        <p style="display:flex;justify-content:space-around;align-items: center">-->
<!--          <input-->
<!--                 type="text" name="username" [(ngModel)]="clientDTO.email" id="email" placeholder="username">-->
<!--        </p>-->
<!--        <p style="display:flex;justify-content:space-around;align-items: center">-->
<!--          <input-->
<!--                 type="password" name="password" [(ngModel)]="clientDTO.password" id="password" placeholder="password">-->
<!--        </p>-->
<!--      </div>-->
<!--      <p style="display:flex;justify-content:space-around;align-items: center">-->
<!--        <button  (click)=checkLogin() class="btn btn-success">LOGIN</button>-->
<!--      </p>-->
<!--    </form>-->
<!--    <br>-->
<!--    <div style="display:flex;justify-content:space-evenly;align-items: center">Don't have an account yet? Please REGISTER-->
<!--      <a href="http://localhost:4200/client"> here </a>-->
<!--    </div>-->

<!--  </td>-->
<!--</tr>-->

