td {
  width: 180px;
}
.categories {
  justify-content: center;
  display:flex;
  font-size: 20px;
  font-weight: bolder;
  font-style: italic;
}
.products {
  display: flex;
  justify-content: space-evenly;
}
