<div id = "clear" class="categories">
  <div *ngFor="let c of categories" class = "line-categ">
    <img [src]="c.photoUrl" style="width: 200px; height: 200px; border-radius: 12px">
    <button
      (click)="getAllProductsInACategory(c.name)" (click)="clearcontent('clear')"
      class="button-categories">{{c.name}}</button>
  </div>
</div>

<div class="position">
  <table class="all-prod" *ngFor="let p of products">
    <tr class="products">
      <td style="font-weight: bolder">{{p.name}}</td>
      <td>{{p.price + " lei" }}</td>
      <td>
        <button (click)="addToCart(p)" >Add to cart</button>
      </td>
    </tr>
  </table>
</div>









