* {
  background-color: RGB(254, 255, 254);
}
h2 {
  text-align: center;
  font-size: xx-small;
}

nav {
  padding-right: 50px;
  background-color: RGB(179, 222, 193);
}
.logo-bakery {
  font-family: "Indie Flower", cursive;
  font-size: 48px;
  padding-left:32px;
  color:RGB(33, 1, 36);
  font-weight: bold;
  background-color: RGB(179, 222, 193);
}
.container {
  display: flex;
  justify-content: space-between;
  align-content: center;
}
.myContent {
  min-height: 420px;
  background-color: RGB(229, 252, 245);
  display:flex;
  justify-content: center;
}

nav>div>a {
  font-family: "Indie Flower", cursive;
  font-size: 32px;
  /*color:RGB(117, 13, 55);*/
  text-decoration: none;
  border:64px;
  margin: 0 10px 0 10px;
  background-color: RGB(179, 222, 193);
}
/*nav>div>a.active {*/
/*  font-family: "Indie Flower", cursive;*/
/*  font-size: 32px;*/
/*  color:RGB(120, 41, 15);*/
/*  text-decoration: underline;*/
/*  border:64px;*/
/*}*/
footer {
  color: RGB(120, 41, 15);
  font-size: small;
  font-weight: bolder;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  background-color: RGB(179, 222, 193);
}
.images {
  height: 172px;
  background-color: RGB(179, 222, 193);
  display:flex;
  justify-content: space-between;
}
.icons {
  display:flex;
  justify-content: space-between;
  align-items: center;
  color:RGB(120, 41, 15);
  background-color: RGB(179, 222, 193);
}
.closure {
  color:RGB(117, 13, 55);
  display:flex;
  justify-content: center;
  background-color: RGB(229, 252, 245);
}
