* {
  font-family: "Dosis", sans-serif;
}
.form-login {
  display: flex;
  justify-content: space-around;
}
.form-group {
  color:RGB(62, 180, 137);
  font-size: 16px;
  font-weight: bold;

}
.ask-client{
  color: RGB(62, 180, 137);
  padding-top: 20px;
  background-color: RGB(237, 201, 175);
  align-items: center;
}
.header-registration {
  background-color:RGB(246, 247, 251) ;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 46px;
  font-size: 20px;
  width: 400px;
}
tr {
  height: 40px;
  align-content: center;
}
td {
  width: 200px;
}
button{
  background-color: RGB(246, 247, 251);
  color:RGB(250, 128, 114);
  font-weight: bold;
}
