<html lang="en"><head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="create-client.component.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
  <link href="https://fonts.googleapis.com/css2?family=Inspiration&amp;display=swap" rel="stylesheet">
  <title>Client</title>
</head>
<body>
<h1>Julie's bakery</h1>
<div>
  <div>New client?
    <div [hidden]="submitted" style="width: 500px;">
      <form (ngSubmit)="onSubmit()">
        <br>
        <div class="form-group">
          <label for="firstName">First Name</label>
          <input type="text" class="form-control" id="firstName" required [(ngModel)]="clientDTO.firstName" name="firstName">
        </div>
        <br>
        <div class="form-group">
          <label for="lastName">Last Name</label>
          <input type="text" class="form-control" id="lastName" required [(ngModel)]="clientDTO.lastName" name="lastName">
        </div>
        <br>
        <div class="form-group">
          <label for="email">E-mail</label>
          <input type="text" class="form-control" id="email" required [(ngModel)]="clientDTO.email" name="email">
        </div>
        <br>
        <div class="form-group">
          <label for="phoneNo">Phone number</label>
          <input type="text" class="form-control" id="phoneNo" required [(ngModel)]="clientDTO.phoneNo" name="phoneNo">
        </div>
        <br>
        <div class="form-group">
          <label for="address">Address</label>
          <input type="text" class="form-control" id="address" required [(ngModel)]="clientDTO.address" name="address">
        </div>
        <br>
        <div class="form-group">
          <label for="city">City</label>
          <input type="text" class="form-control" id="city" required [(ngModel)]="clientDTO.city" name="city">
        </div>
        <br>
        <div class="form-group">
          <label for="country">Country</label>
          <input type="text" class="form-control" id="country" required [(ngModel)]="clientDTO.country" name="country">
        </div>
        <br>
        <button type="submit" class="btn btn-success">SIGN UP</button>
      </form>
<!--      <div [hidden]="!submitted">&ndash;&gt;-->
<!--        <h4>Your account has been created successfully</h4>&ndash;&gt;-->
<!--&lt;!&ndash;        &lt;!&ndash; <button class="btn btn-success" (click)="newEmployee()">Add</button> &ndash;&gt;&ndash;&gt;-->
<!--     </div>-->
    </div>

  </div>
  <div>Already have an acoount?
    <input type="button" value="SIGN IN" onclick="msg()">
  </div>
</div>
