<div class = "header-registration">
  New client? Please register.
</div>
<div style="width: 400px;">
  <div class="ask-client">
    <div class="form-login" [hidden]="submitted" style="width: 500px;">
      <form (ngSubmit)="onSubmit()">
        <tr class="form-group">
          <td>
            <label for="firstName">First Name</label>
          </td>
          <td>
            <input type="text" class="form-control" id="firstName" required [(ngModel)]="clientDTO.firstName" name="firstName">
          </td>
        </tr>
        <tr class="form-group">
          <td>
            <label for="lastName">Last Name</label>
          </td>
          <td>
            <input type="text" class="form-control" id="lastName" required [(ngModel)]="clientDTO.lastName" name="lastName">
          </td>
        </tr>
        <tr class="form-group">
          <td>
            <label for="phoneNo">Phone number</label>
          </td>
          <td>
            <input type="text" class="form-control" id="phoneNo" required [(ngModel)]="clientDTO.phoneNo" name="phoneNo">
          </td>
        </tr>
        <tr class="form-group">
          <td>
            <label for="address">Address</label>
          </td>
          <td>
            <input type="text" class="form-control" id="address" required [(ngModel)]="clientDTO.address" name="address">
          </td>
        </tr>
        <tr class="form-group">
          <td>
            <label for="city">City</label>
          </td>
          <td>
            <input type="text" class="form-control" id="city" required [(ngModel)]="clientDTO.city" name="city">
          </td>
        </tr>
        <tr class="form-group">
          <td>
            <label for="country">Country</label>
          </td>
          <td>
            <input type="text" class="form-control" id="country" required [(ngModel)]="clientDTO.country" name="country">
          </td>
        </tr>
        <tr class="form-group">
          <td>
            <label for="email">E-mail</label>
          </td>
          <td>
            <input type="text" class="form-control" id="email" required [(ngModel)]="clientDTO.email" name="email">
          </td>
        </tr>
        <tr class="form-group">
          <td>
            <label for="password">PASSWORD</label>
          </td>
          <td>
            <input type="password" class="form-control" id="password" required [(ngModel)]="clientDTO.password" name="password">
          </td>
        </tr>
        <tr style="display: flex;justify-content: center;">
          <button mat-raised-button type="submit" class="btn btn-success">REGISTER</button>
        </tr>
      </form>
    </div>
    <div style="color:black; display: flex; justify-content: center; align-items: center; height: 50px">Already have an account? Please login
      <a href="/login"> here</a>
    </div>

  </div>
</div>
