* {
  background-color: cornsilk;
}
h1 {
  font-family: "Inspiration", cursive;
  font-size: 64px;
  border-left:24px;
  color:chocolate;
}
.form-group {
  color:chocolate;
  font-size: 16px;
}
h4{
  color:chocolate;
}
