* {
    font-family: "Dosis", sans-serif;
}
thead {
    background-color: RGB(246, 247, 251);
    color: RGB(250, 128, 114);
    display: flex;
    align-items: center;
    height:50px;
}
.objects {
    font-size: 14px;
}
td {
    width: 200px;
    text-decoration: none;
    justify-content: center;
    display: flex;
}
a {
    text-decoration: none;
    color:RGB(250, 128, 114);
    background-color: RGB(246, 247, 251);
    font-size: 28px;
}