<header>
    <nav class ="navbar navbar-expand-md navbar-dark bg-dark" role="banner">
        <thead class="header">
          <td>
            <a routerLink="/admin-clients"  routerLinkActive="active">CLIENTS</a>
          </td>
          <td>
            <a routerLink="/admin-orders"  routerLinkActive="active">ORDERS</a>
          </td>
          <td>
            <a routerLink="/admin-products"  routerLinkActive="active">PRODUCTS</a>
          </td>
          <td>
            <a style="font-weight: bolder" *ngIf="checkLogin()" routerLink="/logout"  routerLinkActive="active" class="nav-link">LOGOUT</a>
          </td>
        </thead>
    </nav>
  </header>
