<div class="title">
    Your profile details: 
</div>
<table>
    <tr>
        <td class="header">
            Email/username
        </td>
        <td>
            {{client.email}}
        </td>
    </tr>
    <tr>
        <td class="header">
            First name
        </td>
        <td>
            {{client.firstName}}
        </td>
    </tr>
    <tr>
        <td class="header">
            Last name
        </td>
        <td>
            {{client.lastName}}
        </td>
    </tr>
    <tr>
        <td class="header">
            Address
        </td>
        <td>
            {{client.address}}
        </td>
    </tr>
    <tr>
        <td class="header">
            City
        </td>
        <td>
            {{client.city}}
        </td>
    </tr>
    <tr>
        <td class="header">
            Country
        </td>
        <td>
            {{client.country}}
        </td>
    </tr>
    <tr style="height:100px">
        <td>
            <button mat-raised-button>EDIT PROFILE</button>
        </td>
        <td>
            <button mat-raised-button>CANCEL ACCOUNT</button>
        </td>
    </tr>
</table>
