<div>My name is Ioana and I am a pharmacist as formation, future software developer. I like baking since young age. 
    After my daughter, Iulia, was born, I got interested in baking healthier, sugar free sweets, which would be suitable for her diversification menu. 
    Like this, the idea of having bakery which could deliver delicious sweets and pastry appeared, which are in the same healthy and kids or baby friendly, but which can be also adult friendly, as we can deliver a diverse range of products.      
</div>
<br>
<div>
    Welcome to
</div>
<br>
<div class="logo-bakery">Julie's Bakery</div>
