* {
  display: flex;
  justify-content: center;
  color:RGB(250, 128, 114);
  font-size: 30px;
  font-family: "Dosis", sans-serif;
}
.logo-bakery {
  font-family: "Inspiration", cursive;
  font-size: 70px;
}

