<header>
  <nav class ="navbar navbar-expand-md navbar-dark bg-dark">

    <tr class="menu">
      <td><a *ngIf="loginService.isUserLoggedIn()" routerLink="/" class="nav-link">My orders</a></td>
      <td><a *ngIf="loginService.isUserLoggedIn()" routerLink="/order" class="nav-link">New order</a></td>
      <td><a *ngIf="!loginService.isUserLoggedIn()" routerLink="/login" class="nav-link">LOGIN</a></td>
      <td><a *ngIf="loginService.isUserLoggedIn()" routerLink="/logout" class="nav-link">LOGOUT</a></td>
    </tr>

  </nav>
</header>

