<header>
  <nav class ="navbar navbar-expand-md navbar-dark bg-dark" role="banner">

    <tr class="menu">
      <td class="logged-in"><a *ngIf="loginService.isUserLoggedIn()" routerLink="/client-profile" routerLinkActive="active" class="nav-link">My profile</a></td>
      <td class="logged-in"><a *ngIf="loginService.isUserLoggedIn()" routerLink="/"  routerLinkActive="active" class="nav-link">My orders</a></td>
      <td class="logged-in"><a *ngIf="loginService.isUserLoggedIn()" routerLink="/order"  routerLinkActive="active" class="nav-link">New order</a></td>
      <td class="logged-in"><a *ngIf="loginService.isUserAdmin()" routerLink="/admin"  routerLinkActive="active" class="nav-link">ADMIN</a></td>
      <td class="logged-out"><a style="font-weight: bolder" *ngIf="!loginService.isUserLoggedIn()" routerLink="/login"  routerLinkActive="active" class="nav-link">LOGIN</a></td>
      <td class="logged-in"><a style="font-weight: bolder" *ngIf="loginService.isUserLoggedIn()" routerLink="/logout"  routerLinkActive="active" class="nav-link">LOGOUT</a></td>
    </tr>

  </nav>
</header>

